# Build output
**/bin/
**/obj/

# Runtime logs
**/logs/
moex-roc-basket-long-short/PortfolioTradingSystem/PortfolioTradingSystem.Api/logs

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
_cache/

# IDE settings
.idea/
.vscode/
*.DotSettings.user
